In [18]:
import numpy as np
import pandas as pd
import xgboost as xgb
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df = pd.read_csv('EGFR_3 dataset.csv')

In [20]:
import imblearn as imb

In [21]:
smote = imb.over_sampling.SMOTE()

In [22]:
le = LabelEncoder()
df['response'] = le.fit_transform(df['response'])

In [23]:
X = df.drop('response', axis=1)
y = df['response']

In [24]:
df.loc[df['response'] == 'stable', 'response'] = 'no'

<ipython-input-24-93633c3f33da>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'no' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['response'] == 'stable', 'response'] = 'no'

In [25]:
df.response.value_counts()

response
2    118
3     34
1     30
0     19
Name: count, dtype: int64

In [ ]:
df.loc[df['response'] == 'stable', 'response'] = 'no'